<div>
  <h1>SharQ</h1>
  <h3>Answers. Fast!</h3>
</div>

<div>
  <% current_user %>
  <h2>Welcome <%= @current_user.username %>!</h2>
</div>

<div>
  <% if logged_in? %>
  <form action=/logout method=get>
  	<input id="logout_button" type="submit" value="Log Out">
  </form>
  <form action="/user/<%= @current_user.id %>/question/new" method="get">
  	<input id="create_question_button" type="submit" value="Post a question!">
  </form>
  <% end %>
</div>

<div>
  <form action=/ method=get>
  	<input id="to_index_button" type="submit" value="back to Main Page">
  </form>
</div>
