<div>
  <h1><a href="/">SharQ</a></h1>
  <h3>Answers. Fast!</h3>
</div>

<div>
  <h2>Error: Your password is too short.</h2>
</div>

<div>
  <form action=/ method=get>
  	<input id="back_button" type="submit" value="Back to Sign up/Log in page">
  </form>
</div>
