<div>
  <h1><a href="/">SharQ</a></h1>
  <h3>Answers. Fast!</h3>
</div>

<div>
  <h2>Welcome!</h2>
  <h2>Your account has been created.</h2>
</div>

<div>
  <form action=/ method=get>
  	<input id="back_button" type="submit" value="Back to Main Page">
  </form>
</div>
