<%current_question%>
<%current_user%>

<div>
  <h1><a href="/">SharQ</a></h1>
  <h3>Answers. Fast!</h3>
</div>

<div>
  <h2><%= @current_question.question_title %></h2>
  <h3>Asked by <%= User.find(@current_question.user_id).username %></h3>
  <p>
    <%= @current_question.question_desc %>
  </p>
</div>

<% if logged_in? %>

<div>
  <h2>Answer this question</h2>
  <form method=post action=/answers/create>
    <input type=text placeholder="Answer" name="answer[answer_content]"><br>
    <input type=submit value="Answer!">
  </form>
</div>

<% else %>

<div>
  <h2>Please log in to answer this question.</h2>
  <form action=/loginsignup method=get>
  	<input id="logout_button" type="submit" value="Sign In/Sign Up">
  </form>
</div>

<% end %>

<div>
  <form action=/ method=get>
  	<input id="to_index_button" type="submit" value="back to Main Page">
  </form>
</div>
