<h1>SharQ</h1>
<h3>Answers. Fast!</h3>

<h2></h2>
<form method=post action=/signup>
  <input type=text placeholder="Email" name="user[email]"><br>
  <input type=password placeholder="Password" name="user[encrypted_password]"></br>
  <input type=submit value="Sign Up">
</form>
