<div>
  <h1><a href="/">SharQ</a></h1>
  <h3>Answers. Fast!</h3>
</div>

<% if logged_in? %>
<h2><%= @current_user.username %></h2>
<div>
  <h2>Create a question</h2>
  <form method=post action=/questions/create>
    <input type=text placeholder="Question" name="question[question_title]"><br>
    <input type=text placeholder="Question description" name="question[question_desc]"></br>
    <input type=submit value="Ask question!">
  </form>
</div>

<% else %>

<div>
  <h2>Please log in to post a question.</h2>
  <form action=/loginsignup method=get>
  	<input id="logout_button" type="submit" value="Sign In/Sign Up">
  </form>
</div>

<% end %>

<div>
  <form action=/ method=get>
  	<input id="to_index_button" type="submit" value="back to Main Page">
  </form>
</div>
