<html>
	<head>
		<title>SharQ | Answers. Fast!</title>
		<link rel="shortcut icon" href="http://icons.iconarchive.com/icons/bokehlicia/captiva/256/wireshark-icon.png" type="image/x-icon" />
	</head>
	<body>
		<%= yield %>
	</body>
</html>
